{% extends "layout.html" %}

{% block link %}

{% endblock link %}

{% block body %}
<div class="container">
    
<div class="header clearfix">
    <h3 class="float-left">Register New Client</h3>
    <a class="btn btn-primary float-right" href="{{ prefix }}{{ url_for('auth.oauth_list') }}">Back To Oauth List</a>
</div>

<form action="" method="POST" class="mt-5">
    <div class="form-group">
        {{ form.client_name.label }}
        {{ form.client_name(class = 'form-control') }}
        {% if form.client_name.errors %}
            <ul class="errors">
                {% for error in form.client_name.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    <div class="form-group">
        {{ form.client_uri.label }}
        {{ form.client_uri(class = 'form-control') }}
        {% if form.client_uri.errors %}
            <ul class="errors">
                {% for error in form.client_uri.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    <div class="form-group">
        {{ form.redirect_uri.label }}
        {{ form.redirect_uri(class = 'form-control') }}
        {% if form.redirect_uri.errors %}
            <ul class="errors">
                {% for error in form.redirect_uri.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    <div class="form-group">
        {{ form.scope.label }}
        {{ form.scope(class = 'form-control') }}
    </div>
    <div class="form-group">
        {{ form.grant_type.label }}
        {{ form.grant_type(class = 'form-control') }}
    </div>
    <div class="form-group">
        {{ form.response_type.label }}
        {{ form.response_type(class = 'form-control') }}
    </div>
    <div class="form-group">
        {{ form.token_endpoint_auth_method.label }}
        {{ form.token_endpoint_auth_method(class = 'form-control') }}
    </div>
    
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

</div>

{% endblock body %}