{% extends "layout.html" %}
{% block link %}
<link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
{% endblock link %}

{% block body %}
<div class="container">
  <div class="title">
  
    <h1>Directory for IoT (Droit) Project
    </h1>
    <small>
      Contact: <a href="https://www.linkedin.com/in/luoyao-hao-b25302160/" target="_blank">Luoyao Hao's Linkedin</a>
    </small>
  </div>

  
  <div class="contact clearfix">
    <!--<img src="{{url_for('static', filename='images/LuoyaoHao.jpeg')}}" alt="">-->
    
  </div>
  
    
</div>

{% endblock %}
