{% extends "layout.html" %} {% block link %}
<link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}" />
{% endblock link %} {% block body %}
<div class="container">
  <div>
    <h1 align="center">Directory-Based Access Control Project (DBAC)</h1>
    <h6 align="center">
      DBAC stands for Directory-Based Access Control. It combines distributed
      IoT directories and attribute-based access control.
    </h6>
    <img src='../../static/images/DBAC.jpg' alt='DBAC' width='500' class='centerimg'>
    <div class="introouter">
      <div class="introleft">
        <p><b>Our Goal</b></p>
        <p>
          We propose and implement Directory-Based Access Control (DBAC), a
          flexible and systematic access control approach for geographically
          distributed multi-administration IoT systems. DBAC designs and relies
          on a particular module, IoT directory, to store device metadata,
          manage federated identities, and assist with cross-domain
          authorization. </p>
        <br/>
          <p>The directory service decouples IoT access into two
          phases: 
          <li>discover device information from directories</li>
          <li>operate
            devices through discovered interfaces</li> </p>
            <br/>
          <p>DBAC extends attribute-based
          authorization and retrieves diverse attributes of users, devices, and
          environments from multi-faceted sources via standard methods, while
          user privacy is protected. To support resource-constrained devices,
          DBAC assigns a capability token to each authorized user, and devices
          only validate tokens to process a request.</p>
        </p>
      </div>
      <div class="introright">
        <p><b>What this website can do:</b></p>
        
          <li><a href="/auth/oauth_list">Federated Identity Management</a></li>
          <li><a href="/dashboard/register">Attribute Based Access Control</a></li>
          <li><a href="/dashboard/register">Attribute Authorization System</a></li>
          <li>
            For more, please refer to
            <a
              href="https://github.com/Halleloya/DBAC/blob/master/sample_data/README.md"
              target="_blank" rel="noopener noreferrer">this file.</a
            >
          </li>
     
      </div>
    </div>
  </div>
</div>

{% endblock %}
