{% extends "layout.html" %}

{% block link %}

{% endblock link %}

{% block body %}
<div class="container-sm dashboard">
  <div class="row sidebar-row">
    <div class="col-md-3 menus list-group">
      <a class="list-group-item list-group-item-action {{ 'active' if tagname == 'home' else '' }}"
        href="{{ prefix }}{{ url_for('dashboard.home')}}">
        Directories
      </a>
      <a class="list-group-item list-group-item-action {{ 'active' if tagname == 'register' else '' }}"
        href="{{ prefix }}{{ url_for('dashboard.register') }}">
        Register
      </a>
      <a class="list-group-item list-group-item-action {{ 'active' if tagname == 'policy' else '' }}"
        href="{{ prefix }}{{ url_for('dashboard.policy') }}">
        Policy
      </a>
      <a class="list-group-item list-group-item-action {{ 'active' if tagname == 'query' else '' }}"
        href="{{ prefix }}{{ url_for('dashboard.query')}}">
        Query
      </a>
      <a class="list-group-item list-group-item-action {{ 'active' if tagname == 'script' else '' }}"
        href="{{ prefix }}{{ url_for('dashboard.script')}}">
        Custom Script Query
      </a>
      <a class="list-group-item list-group-item-action {{ 'active' if tagname == 'delete' else '' }}"
        href="{{ prefix }}{{ url_for('dashboard.delete')}}">
        Delete
      </a>
      <a class="list-group-item list-group-item-action {{ 'active' if tagname == 'relocate' else '' }}"
        href="{{ prefix }}{{ url_for('dashboard.relocate')}}">
        Relocate
      </a>
      <hr>
    </div>
    
    <div class="col-md-9 main">
      {% block dashboard_content%}
      {% endblock %}
    </div>

  </div>
</div>

<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">

        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>

{% endblock body %}

{% block script %}
{{ super() }}
<script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
<script src="{{url_for('static', filename='js/jquery.json-editor.min.js')}}"></script>
<script>
  if(window.location.pathname.indexOf("level") != -1) {
    REGISTER_URL = "/{{ config['HOST_NAME'] }}" + '/api/register';
    POLICY_URL = "/{{ config['HOST_NAME'] }}" + '/api/policy';
    POLICY_DECISION_URL = "/{{ config['HOST_NAME'] }}" + '/api/policy_decision';
    ATTRIBUTE_AUTH_URL = "/{{ config['HOST_NAME'] }}" + '/api/policy_attribute_auth'
    POLICY_DELETION_URL = "/{{ config['HOST_NAME'] }}" + '/api/delete_policy';
    JWT_API = "/{{ config['HOST_NAME'] }}" + '/api/jwt';
    SEARCH_API = "/{{ config['HOST_NAME'] }}" + '/api/search';
    DELETE_API = "/{{ config['HOST_NAME'] }}" + '/api/delete';
    RELOCATE_API = "/{{ config['HOST_NAME'] }}" + '/api/relocate';
    SCRIPT_API = "/{{ config['HOST_NAME'] }}" + '/api/custom_query';
  }
</script>
{% endblock script%}