{% extends "dashboard/dashboard.html" %}

{% block dashboard_content %}
<h2 class="mb-5">Relocate Thing</h2>

<form class="register-form" method="POST" action="{{url_for('api.register')}}">
    <div>
        <div class="form-group">
            {{ form.from_location.label }}
            {{ form.from_location(list='levelchoose', class = 'form-control', id='from_location') }}
            <datalist id='levelchoose'>
                <option value='level1'>
                <option value='level2a'>
                <option value='level2b'>
                <option value='level3aa'>
                <option value='level3ab'>
                <option value='level4aba'>
                <option value='level4abb'>
                <option value='level5abba'>
                <option value='level5abbb'>
            </datalist>
        </div>
        <div class="form-group">
            {{ form.to_location.label }}
            {{ form.to_location(list='levelchoose', class = 'form-control', id='to_location') }}
            <datalist id='levelchoose'>
                <option value='level1'>
                <option value='level2a'>
                <option value='level2b'>
                <option value='level3aa'>
                <option value='level3ab'>
                <option value='level4aba'>
                <option value='level4abb'>
                <option value='level5abba'>
                <option value='level5abbb'>
            </datalist>
        </div>
        <div class="form-group">
            {{ form.thing_id.label }}
            {{ form.thing_id(class = 'form-control', id='thing_id') }}
        </div>
        <div class="form-group">
            <button id="relocate-btn" type="button" class="btn btn-warning">
                Relocate
            </button>
        </div>
    </div>
</form>

{% endblock dashboard_content %}


{% block script %}
{{ super() }}
<script src="{{url_for('static', filename='js/relocate.js')}}"></script>
{% endblock script%}
